name: Tests

on:
  push: ~
  pull_request: ~

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10  # Don't run forever when stale

    strategy:
      matrix:
        python-version:
          - '3.11'
          - '3.12'
          - '3.13'
          - '3.14'
          - '3.15-dev'

    name: Python ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v4

      - name: Build container image
        run: |
          docker build \
            --build-arg PYTHON_VERSION=${{ matrix.python-version }} \
            -f .github/container/Containerfile-CI \
            -t dsmr-parser-test:${{ matrix.python-version }} \
            .

      - name: Run tests in container
        run: |
          docker run --name test-${{ matrix.python-version }} \
            dsmr-parser-test:${{ matrix.python-version }}

      - name: Export coverage from container
        run: |
          docker cp test-${{ matrix.python-version }}:/app/coverage.xml coverage.xml
          docker rm test-${{ matrix.python-version }}

      - name: Code coverage upload
        uses: codecov/codecov-action@v5
        with:
          files: coverage.xml
